$heartColor: red;
$heartHeight: 30vh;
$heartDadHeight: 30vh;
$heartMomHeight: 25vh;
$heartBabyHeight: 10vh;

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcoral;
}

.heart {
    background: $heartColor;
    transform: rotate(-45deg);

    &::before {
        content: "";
        display: block;
        position: relative;
        background: inherit;
        height: inherit;
        width: inherit;
        border-radius: 50%;
    }

    &::after {
        content: "";
        display: block;
        position: relative;
        background: inherit;
        height: inherit;
        width: inherit;
        border-radius: 50%;
    }
}

.dad {
    height: $heartDadHeight;
    width: $heartDadHeight;

    &::before {
        top: -0.5 * $heartDadHeight;
    }

    &::after {
        content: "";
        top: -$heartDadHeight;
        right: -0.5 * $heartDadHeight;
    }
}

.mom {
    height: $heartMomHeight;
    width: $heartMomHeight;

    &::before {
        top: -0.5 * $heartMomHeight;
    }

    &::after {
        content: "";
        top: -$heartMomHeight;
        right: -0.5 * $heartMomHeight;
    }
}

.baby {
    height: $heartBabyHeight;
    width: $heartBabyHeight;
    margin: 0 (0.5 * $heartDadHeight);

    &::before {
        top: -0.5 * $heartBabyHeight;
    }

    &::after {
        content: "";
        top: -$heartBabyHeight;
        right: -0.5 * $heartBabyHeight;
    }
}
